@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Spoqa", sans-serif;
}

@font-face {
  font-family: "Spoqa";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/font/SpoqaHanSansNeo-Regular.ttf") format("woff2");
}

:root {
  --primary: #ee6730;
  --secondary: #e6e6e6;
  --analogy: #eec630;
  --complement: #30b7ee;
}
