.path {
  stroke: #000;
  stroke-dasharray: 1466.9200439453125;
  stroke-dashoffset: 1466.9200439453125;
  animation: path 3000ms forwards;
}

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}

.svg1 {
  transform: scale(0.84) translateY(10%) translateX(-4%);
}

.svg2 {
  transform: scale(0.84) translateX(-2%) translateY(-4%);
}

.practice {
  top: 10%;
}

.two_bound {
  top: 39.6%;
}

.contest {
  top: 66.6%;
}

@media (min-width: 768px) {
  .header {
    transform: translateX(8%);
  }

  .practice {
    font-size: larger;
    transform: translateY(50%);
    left: 12%;
  }

  .two_bound {
    font-size: larger;
    transform: translateY(50%);
    right: 10%;
  }

  .contest {
    font-size: larger;
    transform: translateY(50%);
    left: 12%;
  }
}
