.frame {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
  z-index: 1;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  touch-action: none;
}

.card .bottom {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, #00000080, #00000000);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  font-weight: 400;
}

.card .bottom .title > span:nth-child(1) {
  font-size: 1.6em;
  font-weight: 700;
  padding-bottom: 4px;
}

.card .bottom .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  & span {
    min-width: 30px;
    text-align: center;
  }
}

.complete {
  position: absolute;
}
